
@{
    ViewBag.Title = "PA Consulting";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!--@Html.Partial(@Url.Content("~/Views/SandBoxViews/userViewHeader.cshtml"))-->
    <link type="text/css" rel="stylesheet" href="../../MaterialDesignAssets/css/theme-default/libs/select2/select2.css?1424887856" />
    <link type="text/css" rel="stylesheet" href="../../MaterialDesignAssets/css/theme-default/libs/multi-select/multi-select.css?1424887857" />
</head>
<body class="menubar-hoverable header-fixed menubar-pin ">
    <!-- BEGIN BASE-->
    <div id="base">
        <!-- END OFFCANVAS LEFT -->
        <!-- BEGIN CONTENT-->
        <div id="content">
            <section>
                <br/><br/>
                <div class="row">
                    <div class="card">
                        <div class="card-head style-primary">
                            <header id="songName"></header>
                        </div>
                        <div class="card-body text-default-light">
                            <h3>Artist: <span id="artistSpan"></span></h3>
                            <h3>Genres: <span id="genreSpan"></span> </h3>
                            <h3>Album:<span id="albumSpan"></span> </h3>
                            <h3>Price: <span id="priceSpan"></span></h3>
                            <h3>Rating: <span id="ratingSpan"></span></h3>
                        </div><!--end .card-body -->
                        <div class="card-actionbar">
                            <div class="card-actionbar-row">
                                <!--<a href="javascript:void(0);" class="btn btn-flat btn-default ink-reaction">Rate</a>-->
                                <a href="javascript:void(0);" class="btn btn-flat btn-accent ink-reaction">Add to Cart</a>
                            </div>
                        </div><!--end .card-actionbar -->
                    </div><!--end .card -->
                </div><!--end .row -->
            </section>
        </div><!--end #content-->
        <!-- END CONTENT -->
        <div id="htmlComponentsContainer" style="display:none;">
            @Html.Partial(@Url.Content("~/Views/SandBoxViews/userViewHTMLComponents.cshtml"))
        </div>
    </div><!--end #base-->
    <!-- END BASE -->
    <!-- BEGIN JAVASCRIPT -->
    <!-- END JAVASCRIPT -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>

        $(document).ready(function () {
            var songDetailsJSONString = "@ViewBag.songDetailJSON";
            
            var songDetailsJSONStringParsed = songDetailsJSONString.replace(/&quot;/g, '\"');
            var songDetailsObject = JSON.parse(songDetailsJSONStringParsed);
            $('#songName').html(songDetailsObject[0].SongTitle);
            $('#artistSpan').html(songDetailsObject[0].ArtistName);

            var genreString = '';

            //alert(songDetailsObject[0].SongGenres[0].GenreName);
            songDetailsObject[0].SongGenres.forEach(function (arrayItem) {

                genreString = genreString + arrayItem.GenreName + ", ";

            });

            $('#genreSpan').html(" " + genreString);
            $('#priceSpan').html(" " + songDetailsObject[0].SongPrice);
            $('#albumSpan').html(" " + songDetailsObject[0].SongAlbums[0].AlbumName);


        });
    </script>
</body>
</html>

