
@{
    ViewBag.Title = "PA Consulting";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!--@Html.Partial(@Url.Content("~/Views/SandBoxViews/userViewHeader.cshtml"))-->
    <link type="text/css" rel="stylesheet" href="../../MaterialDesignAssets/css/theme-default/libs/select2/select2.css?1424887856" />
    <link type="text/css" rel="stylesheet" href="../../MaterialDesignAssets/css/theme-default/libs/multi-select/multi-select.css?1424887857" />
</head>
<body class="menubar-hoverable header-fixed menubar-pin ">
    <!-- BEGIN BASE-->
    <div id="base">
        <!-- END OFFCANVAS LEFT -->
        <!-- BEGIN CONTENT-->
        <div id="content">
            <section>
                <br/><br/>
                <div class="row">
                    <div class="card">
                        <div class="card-head style-primary">
                            <header id="songName"></header>
                        </div>
                        <div class="card-body text-default-light">
                            <h3>Artist: <span id="artistSpan"></span></h3>
                            <h3>Genres: <span id="genreSpan"></span> </h3>
                            <h3>Album:<span id="albumSpan"></span> </h3>
                            <h3>Price: <span id="priceSpan"></span></h3>
                            <h3>Rating: <span id="ratingSpan"></span></h3>
                            <input type="hidden" id="songID" value=""/>
                        </div><!--end .card-body -->
                        <div class="card-actionbar">
                            <div class="card-actionbar-row">
                                <!--<a href="javascript:void(0);" class="btn btn-flat btn-default ink-reaction">Rate</a>-->
                                <a href="javascript:void(0);" id="addCart" class="btn btn-flat btn-accent ink-reaction">Add to Cart</a>
                            </div>
                        </div><!--end .card-actionbar -->
                    </div><!--end .card -->
                </div><!--end .row -->
            </section>
        </div><!--end #content-->
        <!-- END CONTENT -->
        <div id="htmlComponentsContainer" style="display:none;">
            @Html.Partial(@Url.Content("~/Views/SandBoxViews/userViewHTMLComponents.cshtml"))
        </div>
    </div><!--end #base-->
    <!-- END BASE -->
    <!-- BEGIN JAVASCRIPT -->
    <!-- END JAVASCRIPT -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>

        $(document).ready(function () {

            //SONG DETAIL SETUP
            var songDetailsJSONString = "@ViewBag.songDetailJSON";

            var songDetailsJSONStringParsed = songDetailsJSONString.replace(/&quot;/g, '\"');
            var songDetailsObject = JSON.parse(songDetailsJSONStringParsed);

            $('#songID').val(songDetailsObject[0].SongID);

            $('#songName').html(songDetailsObject[0].SongTitle);
            $('#artistSpan').html(songDetailsObject[0].ArtistName);
            

            var genreString = '';

            //alert(songDetailsObject[0].SongGenres[0].GenreName);
            songDetailsObject[0].SongGenres.forEach(function (arrayItem) {

                genreString = genreString + arrayItem.GenreName + ", ";

            });

            $('#genreSpan').html(" " + genreString);
            $('#priceSpan').html(" " + songDetailsObject[0].SongPrice);
            $('#albumSpan').html(" " + songDetailsObject[0].SongAlbums[0].AlbumName);

            //ADD TO CART LOGIC (Put this below Song detail setup later)
            $('#addCart').on('click', function () {
                if (authenticationStatus != 'none') {
                    var songID = $('#songID').val();
                    var userID = $('#userID').val();

                    $.post("/TransactionsAjax/addSongToCart", { songID: songID, userID: userID })
                    .done(function (data) {
                        alert(data);
                        if(data == 'exists'){
                            alert('This song already exists in your cart');
                        }else if(data == 'success'){
                            alert('Song successfully added to your cart');
                        } else {
                            alert('Failed to add song, internal server error');
                        }
                    });
                }

            });
  
        });
    </script>
</body>
</html>

