
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("Account", "Index", "Account", null, new { @class = "btn btn-primary" })
@Html.ActionLink("Artists", "Index", "Artists", null, new { @class = "btn btn-success" })

