
@{
    ViewBag.Title = "PA Consulting";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!--@Html.Partial(@Url.Content("~/Views/SandBoxViews/userViewHeader.cshtml"))-->
    <link type="text/css" rel="stylesheet" href="../../MaterialDesignAssets/css/theme-default/libs/select2/select2.css?1424887856" />
    <link type="text/css" rel="stylesheet" href="../../MaterialDesignAssets/css/theme-default/libs/multi-select/multi-select.css?1424887857" />
</head>
<body class="menubar-hoverable header-fixed menubar-pin ">
    <!-- BEGIN BASE-->
    <div id="base">

        <!-- BEGIN OFFCANVAS LEFT -->
        <div class="offcanvas">
        </div><!--end .offcanvas-->
        <!-- END OFFCANVAS LEFT -->
        <!-- BEGIN CONTENT-->
        <div id="content">
            <section>
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="text-primary">Checkout Confirmation </h1>
                    </div><!--end .col -->
                    <div class="col-lg-8">
                        <article class="margin-bottom-xxl">
                            <p class="lead">
                                View your order below
                            </p>
                        </article>
                    </div><!--end .col -->
                    <div class="col-lg-8">
                        <article class="margin-bottom-xxl">
                            <h3>Songs:</h3>
                        </article>
                    </div><!--end .col -->
                </div><!--end .row -->
                <!-- BEGIN BASIC ELEMENTS -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body no-padding">
                                <ul id="songListingContainer" class="list divider-full-bleed">
                                </ul>
                            </div><!--end .card-body -->
                        </div><!--end .card -->
                    </div><!--end .row -->
                    </div>
                <!-- END BASIC ELEMENTS -->
                <div class="row">
                    <div class="col-lg-12">
                        <article class="margin-bottom-xxl">
                            <h3>Albums:</h3>
                        </article>
                    </div><!--end .col -->
                </div><!--end .row -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body no-padding">
                                <ul id="albumListContainer" class="list divider-full-bleed">
                                </ul>
                            </div><!--end .card-body -->
                        </div><!--end .card -->
                    </div><!--end .row -->
                  </div>
                <div class="row">
                    <div class="col-lg-12">
                        <article class="margin-bottom-xxl">
                            <h3>SubTotal:</h3> <span id="subtotal">Updating...Please give a few seconds</span>
                        </article>
                    </div><!--end .col -->
                </div><!--end .row -->
                <div class="row">
                    <div class="col-lg-12">
                        <article class="margin-bottom-xxl">
                            <h3>Total:</h3> <span id="total">Updating...Please give a few seconds</span>
                        </article>
                    </div><!--end .col -->
                </div><!--end .row -->
                <div class="row">
                    <div class="col-lg-12">
                        <article class="margin-bottom-xxl">
                            <h3>Recipient:</h3> <span id="recipientEmail"></span>
                        </article>
                    </div><!--end .col -->
                </div><!--end .row -->
                <div class="row">
                    <div class="col-lg-12">
                        <article class="margin-bottom-xxl">
                            <h3>Credit Card Used:</h3> <span id="ccUsed"></span>
                        </article>
                    </div><!--end .col -->
                </div><!--end .row -->
                <button id="confirmBtn" type="button" class="btn ink-reaction btn-raised btn-primary">Confirm Order</button>
</section>
        </div><!--end #content-->
        <!-- END CONTENT -->
        <div id="htmlComponentsContainer" style="display:none;">
            @Html.Partial(@Url.Content("~/Views/SandBoxViews/userViewHTMLComponents.cshtml"))
        </div>
    </div><!--end #base-->
    <!-- END BASE -->
    <!-- BEGIN JAVASCRIPT -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        function deleteSong(elm) {
            alert("Can't delete song on check out");
        }

        function deleteAlbum(elm) {
            alert("Can't delete album on check out");
        }

        $(document).ready(function () {

            var userID = "@ViewBag.userID";
            var urlData = location.search.substring(1);
  
            var urlDataArray = urlData.split("?");
            var arrayLength = urlDataArray.length;

            $('#recipientEmail').html(urlDataArray[1]);
            $('#ccUsed').html(urlDataArray[0]);

            //Get user song cart data
            var shoppingCartSongsInsert = '';

            var albumSongsArray = [];
            var songsArray = [];

            //FINISH THE CHECKOUT FUNCTIONALITY
            $('#confirmBtn').on('click', function () {

                alert("Thank you for ordering with PA Consulting");

                var orderJSONObject = {}
                orderJSONObject.songItems = [];
                orderJSONObject.albumItems = [];
                orderJSONObject.subTotal = '';
                orderJSONObject.total = '';
                orderJSONObject.recipient = '';
                orderJSONObject.gift = ''; 

               

                $('.shoppingCartSongItem').each(function () {
                    var songID = $(this).find('.deleteSongBtn').attr('data-song-id');

                    var songObject = {};
                    var songTitle = $(this).find('.songTitle').html();
                    var songArtist = $(this).find('.songArtist').html();
                    var songPrice = $(this).find('.songPrice').html();
                    var genreString = $(this).find('').html();
                    var albumString = '';

                    var songDetailsObject = JSON.parse(data);

                    songObject.songTitle = songTitle;
                    songObject.songArtist = songArtist;
                    songObject.songPrice = songPrice;
                    songObject.songGenres = genreString;
                    songObject.songAlbum = albumString;

                    orderJSONObject.songItems.push(songObject);
                });

                $('.albumItem').each(function(){
                    var albumObject = {};
                    var albumTitle = $(this).find('.albumTitle').html();
                    var albumArtist = $(this).find('.albumArtist').html();
                    var albumPrice = $(this).find('.albumPrice').html();
                    
                    albumObject.albumTitle = albumTitle;
                    albumObject.albumArtist = albumArtist;
                    albumObject.albumPrice = albumPrice;

                    orderJSONObject.albumItems.push(albumObject);
                });

                orderJSONObject.subTotal = $('#subtotal').html();
                orderJSONObject.total = $('#total').html();
                orderJSONObject.recipient = $('#recipientEmail').html();

                if(arrayLength == 3){
                    orderJSONObject.gift = 'true';
                }
                orderString = JSON.stringify(orderJSONObject);

                $.post('/transactionsAjax/logOrder', { orderJSON: orderString, recipientEmail: urlDataArray[1] })
                .done(function (data) {

                    alert(data);
                    $('#content').html("<a href='/SandBox/getCustomerSongSearchPage'><h3>Return to search/home page</h3></a>");

                });
               });


            //Populate the cart 
            $.post("/transactionsAjax/getUserShoppingCartSongs", { userID: userID })
            .done(function (data) {

                var songListingDataObject = JSON.parse(data);

                $.each(songListingDataObject, function (index, item) {

                    $.post("/transactionsAjax/getSongDetails", {songID : item.UserActivityInputArg1})
                    .done(function (data) {

                        var songDetailsObject = JSON.parse(data);
                        songsArray.push(songDetailsObject[0].SongTitle);
                        //var songCartHTML = $('#shoppingCartSongItem')[0].outerHTML;

                        var genreString = '';

                        //alert(songDetailsObject[0].SongGenres[0].GenreName);
                        songDetailsObject[0].SongGenres.forEach(function (arrayItem) {

                            genreString = genreString + arrayItem.GenreName + ", ";

                        });


                        var albumString = '';

                        //alert(songDetailsObject[0].SongGenres[0].GenreName);
                        songDetailsObject[0].SongAlbums.forEach(function (arrayItem) {

                            albumString = albumString + arrayItem.AlbumName + ", ";

                        });


                        var songCartHTML = '<li id="shoppingCartSongItem" class="tile"> \
                                                    <a href="/sandbox/getsongdetailspage/SONGID" class="tile-content ink-reaction songItem">\
                                                        <div class="tile-icon">\
                                                            <i class="fa fa-music"></i>\
                                                        </div>\
                                                         <div class="tile-text"><b>Title:</b> <span class="songTitle"> SONGTITLE </span> <b>Artist:</b> <span class="songArtist">SONGARTIST</span> <b>Rating: </b><span>SONGRATING</span> <b>Price: </b><span class="songPrice">SONGPRICE</span></div>\
                                                    </a>\
                                                    <a onclick="deleteSong(this)" class="deleteSongBtn" data-song-id="SONGID" class="btn btn-flat ink-reaction">\
                                                        <i class="fa fa-trash"></i>\
                                                    </a> <div style="display: none"class="genreStringSpan">GENRESTRING</div><div style="display:none" class="albumStringSpan">ALBUMSTRING</div>\
                                                </li>'
                        ;

                        songCartHTML = songCartHTML.replace(/SONGID/g, songDetailsObject[0].SongID);
                        songCartHTML = songCartHTML.replace("SONGTITLE", songDetailsObject[0].SongTitle);
                        songCartHTML = songCartHTML.replace("SONGARTIST", songDetailsObject[0].ArtistName);
                        songCartHTML = songCartHTML.replace("SONGPRICE", songDetailsObject[0].SongPrice);
                        songCartHTML = songCartHTML.replace("GENRESTRING", genreString);
                        songCartHTML = songCartHTML.replace("ALBUMSTRING", albumString);
                        songCartHTML = songCartHTML.replace("SONGRATING", "fml");




                        $('#songListingContainer').append(songCartHTML);
                    });
                });
            });


            //Get user album cart data
            var shoppingCartAlbumsInsert = '';

            $.post("/transactionsAjax/getUserShoppingCartAlbums", { userID: userID })
            .done(function (data) {

                var albumListingDataObject = JSON.parse(data);

                $.each(albumListingDataObject, function (index, item) {

                    $.post("/transactionsAjax/getAlbumDetails", { albumID: item.UserActivityInputArg1 })
                    .done(function (data) {

                        var albumDetailsObject = JSON.parse(data);
                        albumDetailsObject[0].albumSongs.forEach(function (arrayItem) {

                            albumSongsArray.push(arrayItem.SongTitle);

                        });



                        //var songCartHTML = $('#shoppingCartSongItem')[0].outerHTML;

                        var albumCartHTML = '<li id="shoppingCartSongItem" class="tile"> \
                                                    <a href="/Details/getAlbumDetailsPage/ALBUMID" class="tile-content ink-reaction albumItem">\
                                                        <div class="tile-icon">\
                                                            <i class="fa fa-music"></i>\
                                                        </div>\
                                                         <div class="tile-text"><b>Title:</b> <span class="albumTitle"> ALBUMTITLE </span> <b>Artist:</b> <span class="albumArtist">ALBUMARTIST</span> <b>Rating: </b><span>ALBUMRATING</span> <b>Price: </b><span class="albumPrice">ALBUMPRICE</span></div>\
                                                    </a>\
                                                    <a onclick="deleteAlbum(this)" class="deleteAlbumBtn" data-song-id="ALBUMID" class="btn btn-flat ink-reaction">\
                                                        <i class="fa fa-trash"></i>\
                                                    </a>\
                                                </li>'
                        ;

                        albumCartHTML = albumCartHTML.replace(/ALBUMID/g, albumDetailsObject[0].albumID);
                        albumCartHTML = albumCartHTML.replace("ALBUMTITLE", albumDetailsObject[0].albumName);
                        albumCartHTML = albumCartHTML.replace("ALBUMARTIST", albumDetailsObject[0].albumArtist);
                        albumCartHTML = albumCartHTML.replace("ALBUMPRICE", albumDetailsObject[0].albumPrice);
                        albumCartHTML = albumCartHTML.replace("ALBUMRATING", "fml");

                        $('#albumListContainer').append(albumCartHTML);
                    });
                });
            });

            $('#checkoutBtn').on('click', function () {
                var duplicateCheck = true;

                if ($('#total').html() == 'Updating...Please give a few seconds') {
                    alert('Please wait for totals to update');
                    return;
                }

                var duplicateSongs = [];

                $.each(songsArray, function (key, value) {
                    var index = $.inArray(value, albumSongsArray);
                    if (index != -1) {
                        duplicateCheck = false;
                        duplicateSongs.push(value);
                    }
                });

                if(duplicateCheck == false){
                    alert('The following are duplicate songs in your shopping cart, please remove them before proceeding to checkout: ' + duplicateSongs);
                    return;
                }

                var songListLength = $('#songListingContainer > li').length;
                var albumListLength = $('#albumListContainer > li').length;

                if ((songListLength + albumListLength) == 2) {
                    alert("Please add songs or albums to the shopping cart before proceeding to check out.");
                    return;
                }

                $('#creditCardRow').css('visibility', 'visible');

            });

            setTimeout(
              function () {
                  var songTotal = 0;
                  $('.songPrice').each(function () {
                      var priceString = $(this).html();
                      var priceFloat = parseFloat(priceString);
                      songTotal += priceFloat;
                  });

                  var albumTotal = 0;
                  $('.albumPrice').each(function () {
                      var priceString = $(this).html();
                      var priceFloat = parseFloat(priceString);
                      albumTotal += priceFloat;
                  });

                  var subtotal = songTotal + albumTotal;

                  $('#subtotal').html("$" + subtotal);

                  var total = subtotal * 1.0825;
                  var totalFixed = total.toFixed(2);
                  $('#total').html("$" + totalFixed);


                  //alert(albumSongsArray);
                  //alert(songsArray);
              }, 5000);

        });

    </script>
    <!-- END JAVASCRIPT -->

</body>
</html>


