
@{
    ViewBag.Title = "PA Consulting";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!--@Html.Partial(@Url.Content("~/Views/SandBoxViews/userViewHeader.cshtml"))-->
    <link type="text/css" rel="stylesheet" href="../../MaterialDesignAssets/css/theme-default/libs/select2/select2.css?1424887856" />
    <link type="text/css" rel="stylesheet" href="../../MaterialDesignAssets/css/theme-default/libs/multi-select/multi-select.css?1424887857" />
</head>
<body class="menubar-hoverable header-fixed menubar-pin ">
    <!-- BEGIN BASE-->
    <div id="base">

        <!-- BEGIN OFFCANVAS LEFT -->
        <div class="offcanvas">
        </div><!--end .offcanvas-->
        <!-- END OFFCANVAS LEFT -->
        <!-- BEGIN CONTENT-->
        <div id="content">
            <section>
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="text-primary">Shopping Cart </h1>
                    </div><!--end .col -->
                    <div class="col-lg-8">
                        <article class="margin-bottom-xxl">
                            <p class="lead">
                                View your shopping cart below
                            </p>
                        </article>
                    </div><!--end .col -->
                    <div class="col-lg-8">
                        <article class="margin-bottom-xxl">
                            <h3>Songs:</h3>
                        </article>
                    </div><!--end .col -->
                </div><!--end .row -->
                <!-- BEGIN BASIC ELEMENTS -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body no-padding">
                                <ul id="songListingContainer" class="list divider-full-bleed">
                                </ul>
                            </div><!--end .card-body -->
                        </div><!--end .card -->
                    </div><!--end .row -->
                    </div>
                <!-- END BASIC ELEMENTS -->
                <div class="row">
                    <div class="col-lg-12">
                        <article class="margin-bottom-xxl">
                            <h3>Albums:</h3>
                        </article>
                    </div><!--end .col -->
                </div><!--end .row -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body no-padding">
                                <ul id="albumListContainer" class="list divider-full-bleed">
                                </ul>
                            </div><!--end .card-body -->
                        </div><!--end .card -->
                    </div><!--end .row -->
                  </div>
        </section>
        </div><!--end #content-->
        <!-- END CONTENT -->
        <div id="htmlComponentsContainer" style="display:none;">
            @Html.Partial(@Url.Content("~/Views/SandBoxViews/userViewHTMLComponents.cshtml"))
        </div>
    </div><!--end #base-->
    <!-- END BASE -->
    <!-- BEGIN JAVASCRIPT -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        function deleteSong(elm) {
            var songID = $(elm).attr("data-song-id");

            $.post('/transactionsajax/deleteSong', { songID: songID })
            .done(function (data) {
                if(data == "success"){
                    $(elm).parent().remove();
                }

            });
        }

        $(document).ready(function () {

            var userID = "@ViewBag.userID";
            
            //Get user song cart data
            var shoppingCartSongsInsert = '';

            $.post("/transactionsAjax/getUserShoppingCartSongs", { userID: userID })
            .done(function (data) {

                var songListingDataObject = JSON.parse(data);

                $.each(songListingDataObject, function (index, item) {
                    
                    $.post("/transactionsAjax/getSongDetails", {songID : item.UserActivityInputArg1})
                    .done(function (data) {
      
                        var songDetailsObject = JSON.parse(data);

                        //var songCartHTML = $('#shoppingCartSongItem')[0].outerHTML;

                        var songCartHTML = '<li id="shoppingCartSongItem" class="tile"> \
                                                    <a href="/sandbox/getsongdetailspage/SONGID" class="tile-content ink-reaction">\
                                                        <div class="tile-icon">\
                                                            <i class="fa fa-music"></i>\
                                                        </div>\
                                                         <div class="tile-text"><b>Title:</b> <span> SONGTITLE </span> <b>Artist:</b> <span>SONGARTIST</span> <b>Rating: </b><span>SONGRATING</span> <b>Price: </b><span>SONGPRICE</span></div>\
                                                    </a>\
                                                    <a onclick="deleteSong(this)" class="deleteSongBtn" data-song-id="SONGID" class="btn btn-flat ink-reaction">\
                                                        <i class="fa fa-trash"></i>\
                                                    </a>\
                                                </li>'
                        ;
               
                        songCartHTML = songCartHTML.replace(/SONGID/g, songDetailsObject[0].SongID);
                        songCartHTML = songCartHTML.replace("SONGTITLE", songDetailsObject[0].SongTitle);
                        songCartHTML = songCartHTML.replace("SONGARTIST", songDetailsObject[0].ArtistName);
                        songCartHTML = songCartHTML.replace("SONGPRICE", songDetailsObject[0].SongPrice);
                        songCartHTML = songCartHTML.replace("SONGRATING", "fml");
         
                        $('#songListingContainer').append(songCartHTML);
                    });
                });
            });
            

            //Get user album cart data
            var shoppingCartAlbumsInsert = '';

            $.post("/transactionsAjax/getUserShoppingCartAlbums", { userID: userID })
            .done(function (data) {

                var albumListingDataObject = JSON.parse(data);

                $.each(albumListingDataObject, function (index, item) {

                    $.post("/transactionsAjax/getAlbumDetails", { songID: item.UserActivityInputArg1 })
                    .done(function (data) {

                        var albumDetailsObject = JSON.parse(data);

                        //var songCartHTML = $('#shoppingCartSongItem')[0].outerHTML;

                        var albumCartHTML = '<li id="shoppingCartSongItem" class="tile"> \
                                                    <a href="/sandbox/getsongdetailspage/ALBUMID" class="tile-content ink-reaction">\
                                                        <div class="tile-icon">\
                                                            <i class="fa fa-music"></i>\
                                                        </div>\
                                                         <div class="tile-text"><b>Title:</b> <span> ALBUMTITLE </span> <b>Artist:</b> <span>ALBUMARTIST</span> <b>Rating: </b><span>ALBUMRATING</span> <b>Price: </b><span>ALBUMPRICE</span></div>\
                                                    </a>\
                                                    <a onclick="deleteAlbum(this)" class="deleteAlbumBtn" data-song-id="ALBUMID" class="btn btn-flat ink-reaction">\
                                                        <i class="fa fa-trash"></i>\
                                                    </a>\
                                                </li>'
                        ;

                        albumCartHTML = albumCartHTML.replace(/ALBUMID/g, albumDetailsObject[0].albumID);
                        albumCartHTML = albumCartHTML.replace("SONGTITLE", albumDetailsObject[0].albumName);
                        albumCartHTML = albumCartHTML.replace("SONGARTIST", albumDetailsObject[0].albumArtist);
                        albumCartHTML = albumCartHTML.replace("SONGPRICE", albumDetailsObject[0].albumPrice);
                        albumCartHTML = albumCartHTML.replace("SONGRATING", "fml");

                        $('#albumListContainer').append(albumCartHTML);
                    });
                });
            });

        });

    </script>
    <!-- END JAVASCRIPT -->

</body>
</html>


