<li id="moduleButtonComponent">
    <a href="MODULELINK">
        <div class="gui-icon"><i class="MODULEICON"></i></div>
        <span class="title">MODULETEXT</span>
    </a>
</li><!--end /menu-li -->