<li id="moduleButtonComponent">
    <a href="MODULELINK">
        <div class="gui-icon"><i class="MODULEICON"></i></div>
        <span class="title">MODULETEXT</span>
    </a>
</li><!--end /menu-li -->

<li id="genreListComponent" class="tile">
    <div class="checkbox checkbox-styled tile-text">
        <label>
            <input class="genreCheckBox" type="checkbox">
            <span class="genreItem">GENRENAME</span>
        </label>
    </div>
</li>
<table>
    <tbody>
        <tr id="tableDataComponent">
            <td><a href="http://google.com">SONGTITLE</a></td>
            <td>SONGARTIST</td>
            <td>SONGPRICE</td>
            <td>SONGRATING</td>
        </tr>
    </tbody>
</table>

<li id="shoppingCartAlbumItem" class="tile">
    <a class="tile-content ink-reaction">
        <div class="tile-icon">
            <i class="fa fa-music"></i>
        </div>
        <div class="tile-text"><b>Title:</b> <span class="albumTitle">ALBUMTITLE</span> <b>Artist:</b> <span class="albumArtist">ALBUMARTIST</span> <b>Rating: </b><span>ALBUMRATING</span> <b>Price: </b><span class="">ALBUMPRICE</span></div>
    </a>

    <a class="btn btn-flat ink-reaction">
        <i class="fa fa-trash"></i>
    </a>
</li>
<li id="shoppingCartSongItem" class="tile">
    <a class="tile-content ink-reaction ">
        <div class="tile-icon">
            <i class="fa fa-music"></i>
        </div>
        <div class="tile-text"><b>Title:</b> <span class="songTitle"> SONGTITLE </span> <b>Artist:</b> <span class="songArtist">SONGARTIST</span> <b>Rating: </b><span>SONGRATING</span> <b>Price: </b><span class="">SONGPRICE</span></div>
    </a>
    <a class="btn btn-flat ink-reaction">
        <i class="fa fa-trash"></i>
    </a>
</li>